body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1{
    color: hsl(0, 83%, 43%);
    font-family: 'Boogaloo', cursive;
    font-size: 5em;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}
h2{
    color:hsl(0, 83%, 39%);
    font-family: 'Boogaloo', cursive;
    font-size: 5em;
    font-weight: 900;
    text-align: center;
}
img{
    display: flex;
    height: 100%;
    width: 100%;
}
p{
    text-align: end;
}